/* Top Div*/
div.top{
  position: fixed;
  height: 40%;
  width: 50%;
  top: 5%;
  border-style:dotted;
  border-size: 1px;
  border-color: grey;
}

/* Bottom Div*/
div.bottom{
position:fixed;
bottom:5%;
height:40%;
width:50%;
border-style: solid;
border-size: 2px;
border-color: black;
}
.cardTest
{
  height: 150px;
  width: 100px;
  background-color: black;
}
